/* 
    Created on : 13 dic. 2021, 23:28:23
    Author     : rsgar
*/

.root {
    -fx-background-image: url(file:resources/images/BGimage2.jpg);
    -fx-background-size: 100% 100%;
    -fx-background-color:transparent;
    -fx-font-size:30;
}

.pane{
    -fx-background-color:linear-gradient(#151928,#2196f3);
    -fx-opacity: 0.7;
    -fx-font-size:30;
}

.pane .label{
    -fx-opacity: 1;
}

.pane .img {
    -fx-opacity: 1;
}

.cont{
    -fx-background-color:transparent;
    -fx-opacity: 1;
    -fx-font-size:30;
}

.gridpane {
    -fx-border-color: black; 
    -fx-border-style: solid; 
    -fx-border-width: 1px;
}

.wordPane {
    -fx-background-color:transparent;
}

.wordPane:hover {
    -fx-background-color: #BFE1FF;
}

.wordPane:pressed {
    -fx-background-color:#5db6ff;
}

.button{
    /*-fx-background-color:linear-gradient(#dc9656,#ab4642);*/
    -fx-background-color:#2196f3;
    -fx-text-fill:#dcdcdc;
    -fx-background-radius: 6em;
}

.button .text {
    -fx-font-family: "BungeeShade";
    -fx-font-size: 26;
}

.button:hover{
    -fx-background-color:#5db6ff;
}

.button:pressed{
    -fx-background-color:#104f7c;
}

.label{
   -fx-font-size: 30;
   -fx-text-fill: #ffffff;
   -fx-font-weight: bold;
}
